name: YAML validation

on:
  push: 
  pull_request:

jobs:
  validate-yaml:
    runs-on: ubuntu-latest    

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install yamllint 
      run: |
        sudo apt-get update
        sudo apt-get install -y yamllint

    - name: Validate YAML files
      run: yamllint configs/